<header>
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">NLU</a>
      </div>
      <div class="navbar-collapse collapse"></div>
    </div>
  </div>
</header>
