<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="panel panel-primary">
        <div class='panel-heading'>
          <span>NLU Terminal Panel</span>
        </div>
        <div class="panel-body">
          <div class="alert alert-success" id="score_line_teams"></div>
          <div class="well" id="nlu_terminal_output">

          </div>
          <div class="ai_form_wrapper clearfix">
            <form class="form-inline">
              <div class="form-group">
                <input type="text" class="form-control" id="ai_txt_query" style="width: 400px" placeholder="Text query">
              </div>
              <button type="submit" class="btn btn-primary" onclick="return submitNluQuery(this)">Send</button>
            </form>
            <div class="loader_wr">
              <p><span class="fa fa-spinner fa-spin"></span> <span>Loading ...</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
