<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/external/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/external/toastr.min.css">
    <link rel="stylesheet" href="/styles/theme.css">
    <!--STYLES END-->
  </head>

  <body>
    <div class="site-wrap">
      <%- partial ('./partials/header.ejs') %>
      <div class="app_root"><%- body %></div>
    </div>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/external/jquery-1.10.2.min.js"></script>
    <script src="/js/external/bootstrap.min.js"></script>
    <script src="/js/external/toastr.min.js"></script>
    <script src="/js/ajax_wrapper.js"></script>
    <script src="/js/theme.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
