.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

html, body {
  height: 100%;
  width: 100%;
}

body {
  text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}
