.ai_form_wrapper {
  > form {
    float: left;
  }
  .loader_wr {
    display: none;
    float: right;
    p {
      margin-bottom: 0px;
      line-height: 34px;
    }
    &.active {
      display: block;
    }
  }
}
