.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE7 */
html,
body {
  height: 100%;
  width: 100%;
}
body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
.ai_form_wrapper > form {
  float: left;
}
.ai_form_wrapper .loader_wr {
  display: none;
  float: right;
}
.ai_form_wrapper .loader_wr p {
  margin-bottom: 0px;
  line-height: 34px;
}
.ai_form_wrapper .loader_wr.active {
  display: block;
}
